.play-pause {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.play-pause .play {
  width: 80px;
  height: 80px;
}

.play-pause .pause {
  width: 80px;
  height: 80px;
}


