.load-more-button {
    padding: 0.1rem 2rem;
    color: var(--lightgreen);
    background-color: var(--lightgrey);
    border-radius: 3rem;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}