.info-logout{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-btn{
    float: right;
    margin: 15px 15px 0 0;
    width: 40px;
    height: 40px;
}

/* 2208 added bugfix*/
.slider {
padding: 2rem 0rem 2rem 0rem;
}