.statsContainer{
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
}

.stats{
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats img{
    width: 15px;
    height: 15px;
}

.stats p{
    color: #A1A4B2;
    margin-left: 1rem;
}