.fav-btn-filled {
  border-radius: 3rem;
  text-transform: uppercase;
  padding: 2rem;
  border: none;
  background-color: var(--pink);
  color: white;
  font-family: "sspro-semibold";
  font-size: 1.6rem;
  opacity: 1;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fav-btn-unfilled {
  border-radius: 3rem;
  text-transform: uppercase;
  padding: 2rem;
  border: none;
  background-color: #e2908351;
  backdrop-filter: blur(3px);
  color: white;
  font-family: "sspro-semibold";
  font-size: 1.6rem;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.fav-btn-unfilled img {
  width: 139%;
}

.heart{
  width: 23.2px;
  height: 20px;
}