.searchBar{
    padding: 1rem 0rem 2rem 0rem;
    margin: 0 auto;
}
.searchInput{
    background-color: #a1a4b23c;
    opacity: 0.8;
    border-radius: 15px;
    height: 2.8rem;
    width: 100%;
    background-image:url("../../assets/img/Icons/lupe.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-origin: content-box;
    background-size: auto;
    padding: 10px;
}
